{% extends 'base.html' %}
{% load filters %}

{% block content %}
<div class="row col-md-6">
    <form method="post" action={% url 'event-add' %} next="{{next}}">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-group" id="field-{{forloop.counter}}">
            {{ field.label_tag }}{{ field|addclass:'form-control'}}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    var errorlist = $('.errorlist').parents();
    for (var i = 0; i < errorlist.length; i++) {
        if (errorlist[i] && errorlist[i].className === 'form-group') {
            var id = $(errorlist[i]).attr('id');
            $('#' + id + " > label").addClass('control-label')
            $(errorlist[i]).addClass('has-error');
        }
    }
</script>
{% endblock %}