{% extends 'base.html' %}
{% load filters %}

{% block content %}
<div class="row col-md-6">
  <form enctype="multipart/form-data" method="post" action="{{ url }}" next="{{next}}">
    {% csrf_token %}
        {% for field in form %}
        <div class="form-group" id="field-{{forloop.counter}}">
            {{ field.label_tag }}{{ field|addclass:'form-control'}}
            {{ field.errors }}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}
